
.table-container {
  padding: 12px;
}

.header-button-container {
  & > * {
    margin-right: 8px;
  }
}

.account-online-flag {
  padding-left: 8px;
  color: #52C41A;

  &:after {
    content: 'â—';
  }
}
